* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e252b;
  text-decoration: none;
}

.container {
  width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.nav-link {
  color: white;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffffe5;
}

.nav-list {
  display: flex;
  gap: 45px;
}

.headerbtn {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: transparent;
}

.loginbtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #ffffffc7;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;
  border-radius: 8px;
}
.loginbtn:hover {
  background-color: #ff6e30;
  color: #fdf5ff;
}

.signupbtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #ffffffc7;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;
  border-radius: 8px;
}
.signupbtn:hover {
  background-color: #ff6e30;
  color: #fdf5ff;
}

.hero {
  padding-top: 178px;
  background-image: url(./images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffffe5;
  padding-bottom: 30px;
}

.hero-title span {
  color: #ff6e30;
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff8c;
}

.formsearch {
  width: 497.6px;
  border: 1.5px solid #ffffff1a;
  background-color: #283036;
  color: #ffffff61;
  padding: 21px 22px;
  text-align: left;
  border-radius: 15px;
  margin-top: 60px;
}

.formsearch::before {
  background-image: url(./images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.formbtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #ffffffc7;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;
  border-radius: 8px;
}

.formbtn:hover {
  background-color: #ff6e30;
  color: #fdf5ff;
}

.social-list{
  display: flex;
  gap: 20px;
  margin-top: 121px;
}


