* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #1e252b;
    text-decoration: none;
}

.container{
    width: 1245px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: white;
}

.logo{
    font-family: "Poppins", sans-serif;
    font-size:22px;
    font-weight: 600;
    color: #FFFFFFE5;
}

.nav-list{
    display: flex;
    gap: 45px;
    
}

.headerbtn{
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero{
 padding-top: 178px;
 background-image: url(./images/hero.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}